/* First page */

body{
font-family: 'TT Hoves';
color: #222222;
margin-top: 50px;
/* margin-left: 121px;
margin-right: 229px; */
}

.contentBlock{
    padding: 0 calc(10vw - 13px);
}

.courseInfo{
    display: flex;
    gap: 161px;
    margin-top: 60px;
}

h1{
    font-family: 'Chava';
    font-weight: 400;
font-size: 80px;
line-height: 110%;
margin-top: 76px;
margin-bottom: 40px;
}

.logo{
    margin-top: 37px;

    width: 295px;
    height: 41px;
}

.title{
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
}

.value{
    font-weight: 700;
font-size: 21px;
line-height: 140%;
}

p{
    font-weight:300 ;
    font-size: 27px;
    line-height: 140%;
    margin-bottom: 40px;
    width: 90%;
}

.buttons{
    display: flex;
    gap: 20px;

}

.button_primary{
    background: #6e3aba;
    border-radius: 12px;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:aliceblue;
    width: 328px;
height: 21px;

}

.button_secondary{
    background: aliceblue;
    border-radius: 12px;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:#6e3aba;
    border: 1px solid #6e3aba;
    width: 328px;
height: 21px;
}

.hello{
    background-image: url(./img/html_css_js\ 1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x: 727px;
    background-position-y: 60px;
 
}
h6{
    text-align:right;
    color: #22222261;
}

/* Second page */

.contentBlock2{
    margin-top: 160px;
    padding: 0 calc(10vw - 13px);
}

.courseInfo2{
    display: flex;
    gap: 100px;}

.logo2{
    width: 220px;
    /* height: 20%; */
    margin-top: 41px;

    /* gap: 240px; */
}

.logo3{
    width: 220px;
    /* height: 287px; */
    margin-top: 41px;

}

.logo4{

width: 238px;
    margin-top: 87px;

}

.logo5{
    width: 238px;
    margin-top: 87px;

}

.hhh{
    width: 769px;
    height: 136px;
    font-family: 'TT Hoves';
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 68px;
letter-spacing: 0.01em;
}

.info2 .title{
    width: 450px;
    height: 228px;

    font-family: 'TT Hoves';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 140%;

}
.info2 .value{
    margin-top: 20px;
    width: 400px;
    height: 78px;
    font-family: 'TT Hoves';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 140%;

}

.info2{
    gap: 100px;
}